@model HomePageListViewModel

<div asp-controller="Home" asp-action="Index">
    @Html.Partial("_BookList")
</div>

<ul class="pager">
    <li>
        @if (Model.PageNumber > 1)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-page="@(Model.PageNumber - 1)"> << Previous</a>
        }
    </li>
    <li>
        @if (Model.ExistNext == true)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-page="@(Model.PageNumber+1)">Next >></a>
        }
    </li>
</ul>

@section Styles

    {

    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

}