@model HomePageListViewModel

<h1>My Books</h1>
@Html.Partial("_BookList")
<ul class="pager">
    <li class="previous">
        @if (Model.PageNumber > 1)
        {
            <a asp-controller="Home" asp-action="SellersBook" asp-route-page="@(Model.PageNumber - 1)"> << Previous</a>
        }
    </li>
    <li class="next">
        @if (Model.ExistNext == true)
        {
            <a asp-controller="Home" asp-action="SellersBook" asp-route-page="@(Model.PageNumber + 1)">Next >></a>
        }
    </li>
</ul>
@section Styles

    {

    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

}