@model HomePageListViewModel

<h1 class="text-center">My Books</h1>
@Html.Partial("_BookList")
<ul class="pager">
    <li>
        @if (Model.PageNumber > 1)
        {
            <a class="hyperlinkwidth" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.PageNumber - 1)"><span class="glyphicon glyphicon-backward pagerfont iconrightmargin" aria-hidden="true">Previous</span></a>
        }
    </li>
    <li>
        @if (Model.ExistNext == true)
        {
            <a class="hyperlinkwidth pagerfont" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.PageNumber+1)">Next<span class="glyphicon glyphicon-forward iconleftmargin" aria-hidden="true"></span></a>
        }
    </li>
</ul>
@section Styles

    {

    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

}