
@model HomePageListViewModel


<h1>My Books</h1>
<div class="container">
    <div class="row">
        <!-- BEGIN PRODUCTS -->

        @foreach (var book in @Model.Books)
            {

            <div class="col-md-2 col-sm-2">
                <span class="thumbnail">
                    <img src="~/image/p1.jpg" alt="book cover">
                    <h4>@book.Name</h4>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p>@book.Price</p>
                        </div>
                        <div class="col-md-6 col-sm-6">

                            <a class="btn btn-info btn-block" asp-controller="BookDetail" asp-action="Index" asp-route-id="@book.Id">Edit</a>
                            <a class="btn btn-danger btn-block">Delete</a>
                        </div>
                    </div>
                </span>
            </div>


        }

        <!-- END PRODUCTS -->
    </div>
</div>
