@model LvivCompany.Bookstore.Web.ViewModels.BookDetailViewModel
<link href="~/css/BookDetailStyle.css" rel="stylesheet" />
<form asp-controller="BookDetail" asp-action="BookDetail">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 item-photo">
                <img src="@Model.Image" />
            </div>
            <div class="col-xs-5">
                <!-- Name -->
                <label asp-for="Name" class="title-items"></label><br />
                <input asp-for="Name"><br />
               

                <!-- Category -->
                <label asp-for="Category" class="title-items"></label><br />
                <input asp-for="Category"><br />

                <!-- NumberOfPages-->
                <label asp-for="NumberOfPages" class="title-items"></label><br />
                <input asp-for="NumberOfPages"><br />
                    
                
                <!-- PUBLISHER -->
                <label asp-for="Publisher" class="title-items"></label><br />
                <input asp-for="Publisher"><br />

                <!-- Year -->
                <label asp-for="Year" class="title-items"></label><br />
                <input asp-for="Year"><br />

                <!-- Seller -->
                <label class="title-items"><small>Seller</small></label><br />
                <input ><br />

                <!-- Amount -->
                <label asp-for="Amount" class="title-items"></label><br />
                <input asp-for="Amount"><br />

                <!-- Price -->
                <label asp-for="Price" class="title-items"></label><br />
                <input asp-for="Price"><br />

                <!-- Amount to buy-->
                <div class="section amount">
                    <h6 class="title-attr"><small>Amount To Order</small></h6>
                    <div>
                        <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                        <input value="1" />
                        <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                    </div>
                </div>

                <!-- Add to Order -->
                <div class="section amount">
                    <button class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Order </button>
                </div>
            </div>

            <div class="col-xs-9">
                <div class="description">
                    <p class="line">
                        <label asp-for="Description" class="title-items"></label><br />
                        <input asp-for="Description"><br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>

