@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    
    <div class="col-md-2">
        <image name="Image" alt="Book image" class="img-responsive" src="" />
        <input type="file"
               placeholder="Photo" accept="image/*" required="" capture>
    </div>

    <form class="form-horizontal">
        <fieldset>
                
            <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Name</label>
                    <div class="col-md-6">
                        <input name="Name" class="form-control input-md" id="textinput" type="text" placeholder="e.g., C# 6.0 and the .NET 4.6 Framework">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Authors</label>
                    <div class="col-md-6">
                        <input name="Authors" class="form-control input-md" id="textinput" type="text" placeholder="e.g., Andrew Troelsen, Philip Japikse">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Year</label>
                    <div class="col-md-6">
                        <input name="Year" class="form-control input-md" id="textinput" type="text" placeholder="e.g., 2015">
                    </div>
                </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Publisher</label>
                <div class="col-md-6">
                    <input name="textinput" class="form-control input-md" id="textinput" type="text" placeholder="e.g., Apress Media">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Number of pages</label>
                <div class="col-md-6">
                    <input name="textinput" class="form-control input-md" id="textinput" type="text" placeholder="e.g., 1660">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Price</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input name="textinput" class="form-control input-md" id="textinput" type="text" placeholder="e.g., 100">
                    </div>
                    </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Number of items</label>
                <div class="col-md-6">
                        <input name="textinput" class="form-control input-md" id="textinput" type="text" placeholder="e.g., 2">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Description</label>
                <div class="col-md-6">
                    <textarea class="form-control" rows="10"></textarea>
                </div>
            </div>

                <!-- Buttons -->
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4">
                        <button name="button1id" class="btn btn-success" id="button1id">Submit</button>
                        <button name="button2id" class="btn btn-danger col-md-offset-4" id="button2id">Cancel</button>
                    </div>
                </div>
</fieldset>
    </form>
</div>
