@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <div class="col-md-2">
        <image asp-for="Image" alt="Book image" class="img-responsive" src="" />
        <input asp-for="Image" type="file"
               placeholder="Photo" accept="image/*" required="" capture>
    </div>

    <form class="form-horizontal" method="post">
        <fieldset>

            <!-- Text input-->
            <div class="form-group">
                <label asp-for="Name" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Name" class="form-control input-md" type="text" placeholder="e.g., C# 6.0 and the .NET 4.6 Framework">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label asp-for="Authors" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Authors" class="form-control input-md" type="text" placeholder="e.g., Andrew Troelsen, Philip Japikse">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label asp-for="Year" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Year" class="form-control input-md" type="text" placeholder="e.g., 2015">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Publisher" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Publisher" class="form-control input-md" type="text" placeholder="e.g., Apress Media">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfPages" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="NumberOfPages" class="form-control input-md" type="text" placeholder="e.g., 1660">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input asp-for="Price" class="form-control input-md" type="text" placeholder="e.g., 100">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Amount" class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Amount" class="form-control input-md" type="text" placeholder="e.g., 2">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="col-md-4 control-label" for="textinput"></label>
                <div class="col-md-6">
                    <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                </div>
            </div>

            <!-- Buttons -->
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-success" type="submit">Submit</button>
                    <button class="btn btn-danger col-md-offset-4" type="button">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
