<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Delivery Information</h1>

            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <span class=""></span>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h2>Step One</h2>

                        </div>
                        <div class="timeline-body">
                            <p class="text-muted fontsize">
                                Order a book or several books via our site.
                            </p>
                            <p class="text-muted fontsize">
                                A minimum purchase of $50 is required.
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">

                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h2>Step Two</h2>

                        </div>
                        <div class="timeline-body">
                            <p class="fontsize">
                                After you place an order, we email you with pertinent information about your order’s status.
                            </p>
                            <p class="fontsize">
                                You must confirm shipment of the order within 3 days of the order date.
                            </p>
                            <p class="fontsize">
                                We will dispatch your order as soon as it is in stock- occasionally, items need to be sourced
                            </p>
                            <p class="fontsize">
                                from publishers, resulting in a slight delay in shipping
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                </li>
                <li>
                    <div class="timeline-image">

                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h2>Step Three</h2>

                        </div>
                        <div class="timeline-body">
                            <p class="text-muted fontsize">
                                Obtain your books and open new world with incredible stories in them.
                            </p>
                        </div>
                    </div>

                </li>

            </ul>
        </div>
    </div>
</div>
@section Styles

    {

    <link href="~/css/timeline.css" rel="stylesheet" type="text/css" />
}

