@model HomePageListViewModel

<div asp-controller="Category" asp-action="Index" >
    
    @Html.Partial("_BookList")
    
</div>

@section Styles

    {
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
}