@model ChangePasswordViewModel

<form asp-action="ChangePassword" asp-controller="Account" method="post">

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="OldPassword"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open " aria-hidden="true"></i></span>
                <input asp-for="OldPassword" class="form-control" placeholder="Enter your password" />
            </div>
            <span asp-validation-for="OldPassword" class="field-validation-error error-msg"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open " aria-hidden="true"></i></span>
                <input asp-for="NewPassword" class="form-control" placeholder="Enter your password" />
            </div>
            <span asp-validation-for="NewPassword" class="field-validation-error error-msg"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open " aria-hidden="true"></i></span>
                <input asp-for="PasswordConfirm" class="form-control" placeholder="Enter your password" />
            </div>
            <span asp-validation-for="PasswordConfirm" class="field-validation-error error-msg"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class=" btn btn-success" />
        </div>
    </div>
</form>
