
@model EditProfileViewModel

@section Scripts{
<script src="~/js/site.js"></script>
 }


@section Styles

    {
    <link href="@Url.Content("~/css/RegLogStyle.css")" rel="stylesheet" type="text/css" />
}

<div class="container " style="padding-top: 0px;">
    <div class="row">
        <form class="form-horizontal" role="form" asp-controller="Account" asp-action="Edit" method="get" enctype="multipart/form-data">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">



                    <img id="imgDisplayArea"  class="avatar img-circle img-thumbnail img-responsive" src="@Model.Photo"/>
                    <h6>Upload a different photo...</h6>
                   <input asp-for="Image" type="file" onchange="imagePreview(this)">
                    <div class="form-group">
                        <input asp-for="Photo" type="hidden" />
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-sm-6 col-xs-12 personal-info">
                <h3>Personal info</h3>
                <div class="form-group ">
                    <label asp-for="FirstName" class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-7">
                        <input border="0" type="text" class="form-control" asp-for="FirstName" />
                    </div>
                    <span asp-validation-for="FirstName" class="field-validation-error error-msg "></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" asp-for="LastName" />
                    </div>
                    <span asp-validation-for="LastName" class="field-validation-error error-msg "></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" asp-for="Email" />
                    </div>
                    <span asp-validation-for="Email" class="field-validation-error error-msg "></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address1" class="col-lg-3 control-label">Address1:</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" asp-for="Address1" />
                    </div>
                    <span asp-validation-for="Address1" class="field-validation-error error-msg"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Address2" class="col-lg-3 control-label">Address2:</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" asp-for="Address2" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-lg-3 control-label">Phone Number:</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" asp-for="PhoneNumber" />
                    </div>
                    <span asp-validation-for="PhoneNumber" class="field-validation-error error-msg"></span>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-7">
                        <input class="btn btn-success" value="Save Changes" type="submit" asp-action="Edit" asp-controller="Account" formmethod="post" />
                        <a class="btn btn-default" value="Cancel" asp-controller="Account" asp-action="Profile">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

