
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LvivCompany.Bookstore.Web.ViewModels.RegisterViewModel
<link href="~/css/RegLogStyle.css" rel="stylesheet" />
<div class="container " style="padding-top: 0px;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="text-center">
                <img id="imgDisplayArea" src="https://s-media-cache-ak0.pinimg.com/originals/df/78/2c/df782c4bf2b7e271098c7d979f15e193.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block well well-sm" onchange="imagePreview(this)">
                <script type="text/javascript">
                    function imagePreview(input) {
                        if (input.files && input.files[0]) {
                            var filerdr = new FileReader();
                            filerdr.onload = function (e) {
                                $('#imgDisplayArea').attr('src', e.target.result);
                            };
                            filerdr.readAsDataURL(input.files[0]);
                        }
                    }
                </script>
            </div>
            <a class="btn btn-success" asp-controller="Account" asp-action="Edit">Edit Information</a>

        </div>
        <!-- edit form column -->
        <div class="col-md-6 col-sm-6 col-xs-12 personal-info">

            <h3>Personal info</h3>
            <form class="form-horizontal" role="form" asp-controller="Account" asp-action="Profile" method="get">


                <div class="form-group ">
                    <label asp-for="FirstName" class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-4">
                        <input border="0" type="text" class="form-control" asp-for="FirstName" readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" asp-for="LastName" readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" asp-for="Email" readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Address1" class="col-lg-3 control-label">Address1:</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" asp-for="Address1" readonly />
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="Address2" class="col-lg-3 control-label">Address2:</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" asp-for="Address2" readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-lg-3 control-label">Phone Number:</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" asp-for="PhoneNumber" readonly />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>