@model  RegisterViewModel

@section Styles

    {
    <link href="@Url.Content("~/css/RegLogStyle.css")" rel="stylesheet" type="text/css" />
}



<form method="post" asp-controller="Account" asp-action="Register">

    <div class="main-login main-center fontsize">
        <h2>Sign Up</h2>
        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope " aria-hidden="true"></i></span>
                <input asp-for="Email" class="form-control fontsize" placeholder="Your Mail" />

            </div>
            <span asp-validation-for="Email" class="field-validation-error error-msg "></span>
        </div>

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user " aria-hidden="true"></i></span>
                <input asp-for="FirstName" class="form-control fontsize" placeholder="Your First Name" />
            </div>
            <span asp-validation-for="FirstName" class="field-validation-error error-msg"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user " aria-hidden="true"></i></span>
                <input asp-for="LastName" class="form-control fontsize" placeholder="Your Last Name" />

            </div>
            <span asp-validation-for="LastName" class="field-validation-error error-msg"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address1"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home " aria-hidden="true"></i></span>
                <input asp-for="Address1" class="form-control fontsize" placeholder="Your Address1" />

            </div>
            <span asp-validation-for="Address1" class="field-validation-error error-msg"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address2"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home " aria-hidden="true"></i></span>
                <input asp-for="Address2" class="form-control fontsize" placeholder="Your Address2" />
            </div>
            <span asp-validation-for="Address2" class="field-validation-error error-msg"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone " aria-hidden="true"></i></span>
                <input asp-for="PhoneNumber" class="form-control fontsize" placeholder="Your Mobile" />
            </div>
            <span asp-validation-for="PhoneNumber" class="field-validation-error error-msg"></span>
        </div>

        <div class="form-group">
            <label asp-for="AppRoleId"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pawn " aria-hidden="true"></i></span>
                <select asp-for="AppRoleId" asp-items="@Model.AppRoles" class="form-control fontsize">
                    <option>Please select</option>

                </select>

            </div>
            <span asp-validation-for="AppRoleId" class="field-validation-error error-msg"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open " aria-hidden="true"></i></span>
                <input asp-for="Password" class="form-control fontsize" placeholder="Enter your password" />
            </div>
            <span asp-validation-for="Password" class="field-validation-error error-msg"></span>
        </div>

        <div class="form-group">
            <label asp-for="PasswordConfirm"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open " aria-hidden="true"></i></span>
                <input asp-for="PasswordConfirm" class="form-control fontsize" placeholder="Please confirm your password" />

            </div>
            <span class="danger error-msg" asp-validation-for="PasswordConfirm"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="field-validation-error error-msg"></div>

        <div>
            <input type="submit" class="fontsize btn-lg btn-success btn-block  "value="Submit" />
        </div>
    </div>
</form>