<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
  <add key="ImageRootPath" value="https://lv251bookstore.blob.core.windows.net/images" />
  <add key="ImagesContainer" value="images" />
 </appSettings>

 <connectionStrings>
  <add name="BlobStorageConnectionString"
  connectionString="" />
 </connectionStrings>
</configuration>
