@model long
@if ((ViewContext.RouteData.Values["controller"].ToString() == "Home"
                | ViewContext.RouteData.Values["controller"].ToString() == "Search") &
                                        ViewContext.RouteData.Values["action"].ToString() == "Index")
{<div class="col-md-6 col-sm-6">
        <a class="btn btn-success btn-block" asp-controller="Book" asp-action="BookPage" asp-route-id="@Model">View Details</a>
    </div>}

@if (ViewContext.RouteData.Values["controller"].ToString() == "Home" &
                                                 ViewContext.RouteData.Values["action"].ToString() == "SellersBook")
{<div class="col-md-6 col-sm-6">
        <a class="btn btn-info btn-block" asp-controller="Book" asp-action="EditBook" asp-route-id="@Model">Edit</a>
        <a class="btn btn-danger btn-block">Delete</a>
    </div>}