<!DOCTYPE html>
<html>
<head>
    @RenderSection("Styles", required: false)

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Lviv Bookstore Company</title>
    <meta charset="utf-8" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/SideBarrStyle.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!--<link href="../Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="../Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />-->
    <link href="../Style/IconDown.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../Style/Carouselstyle.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">
</head>
<body class="bdy-main">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle title-name" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-th-large"></span>
                </button>
                <a class="navbar-brand" href="#">BookStore</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="container-fluid"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="container-fluid"><a href="#">Delivery</a></li>
                    <li class="container-fluid"><a href="#">Help</a></li>
                    <li class="container-fluid"><a asp-controller="About" asp-action="About">About us</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right ">

                    <li>
                        <input class="search-input" /> <a class="a-input" href=""><span class="glyphicon glyphicon-search"></span> </a>
                    </li>
                    <li><a asp-controller="Order" asp-action="Order"><span class="glyphicon glyphicon-shopping-cart"></span> My Order <span class="badge item-in-cart">@Context.Request.Cookies["Count"]</span></a></li>
                    <li class="part-log-view"> <form class="form-inline" asp-controller="Account" asp-action="LogOff" method="post">@await Html.PartialAsync("_PartialLogin") </form></li>
                </ul>

            </div>
        </div>

        <div class="nav-side-menu ">
            <div class="brand">Brand Logo</div>
            <i class="fa fa-bars fa-2x toggle-btn glyphicon glyphicon-chevron-down brand-logo" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                        <a href="#">
                            <i class="fa fa-dashboard fa-lg"></i> Catalog
                        </a>
                    </li>
                    <li data-toggle="collapse" data-target="#products" class="collapsed active">
                        <a href="#"><i class="fa fa-gift fa-lg"></i> Genres <span class="arrow"></span></a>
                    </li>
                    <li>
                        <ul class="sub-menu collapse" id="products">
                            <li><a href="#">Detectives</a></li>
                            <li><a href="#">Historical</a></li>
                            <li><a href="#">Thriller</a></li>
                            <li><a href="#">Grief</a></li>
                        </ul>
                    </li>
                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                        <a href="#"><i class="fa fa-globe fa-lg"></i>Author <span class="arrow"></span></a>
                    </li>
                    <li>
                        <ul class="sub-menu collapse" id="service">
                            <li> A-E</li>
                            <li> F-J</li>
                            <li> K-O</li>
                            <li> P-T</li>
                            <li> U-Z</li>
                        </ul>
                    </li>
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a href="#"><i class="fa fa-car fa-lg"></i> Books <span class="arrow"></span></a>
                    </li>
                    <li>
                        <ul class="sub-menu collapse" id="new">
                            <li> A-E</li>
                            <li> F-J</li>
                            <li> K-O</li>
                            <li> P-T</li>
                            <li> U-Z</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="render-body">
        @RenderBody()
    </div>
    <div class="navbar  navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-text pull=left">
                <p> SoftServe IT academy 2017</p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
