<!DOCTYPE html>
<html>
<head>
    @RenderSection("Styles", required: false)

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Lviv Bookstore Company</title>
    <meta charset="utf-8" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/SideBarrStyle.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">
    <style>
        h3 {
            font-size: 18px;
        }

        .paddingsubmenu {
            padding-left: 15px;
        }

        .searchbuttonmargin {
            margin-top: -10px;
        }

        .navbar .navbar-text {
            margin: 0px;
            padding: 0px;
            min-height: 8px;
            height: 8px;
        }

        .navbar-inverse {
            height: 12px;
        }

        .navbar-nav > li > a {
            padding-top: 15px;
            padding-bottom: 0px;
        }

        .nav > li > a {
            padding-top: 15px;
            padding-bottom: 0px;
        }

        .fontsize {
            font-size: 18px;
        }

        .nav-side-menu > ul {
            padding-top: 13px;
        }

        .navbar-brand {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        
    </style>
</head>

<body class="bdy-main">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle title-name" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-th-large"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="https://lv251bookstore.blob.core.windows.net/images/4eee7b09-2964-42fd-9474-86e32d0e2035.png" width="250" height="39"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="container-fluid"><a class="fontsize" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="container-fluid"><a class="fontsize" asp-controller="Home" asp-action="Delivery">Delivery</a></li>
                    <li class="container-fluid"><a class="fontsize" asp-controller="Home" asp-action="Help">Help</a></li>
                    <li class="container-fluid"><a class="fontsize" asp-controller="About" asp-action="About">About Us</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right ">

                    <li>
                        <form asp-controller="Search" asp-action="Index">
                            <input class="search-input fontsize" name="SearchText" /> <input class="btn btn-default fontsize searchbuttonmargin" type="submit" value="Search" />
                        </form>
                    </li>
                    <li> <form class="form-inline" asp-controller="Account" asp-action="LogOff" method="post">@await Html.PartialAsync("_PartialLogin") </form></li>
                </ul>

            </div>
        </div>

        <div class="nav-side-menu ">
            <div class="brand"></div>
            <i class="fa fa-bars fa-2x toggle-btn glyphicon glyphicon-chevron-down brand-logo" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out">
                    <li data-toggle="collapse" data-target="#products" class="collapsed active">
                        <a class="fontsize" href="#"><i class="fa fa-gift fa-lg"></i>Catalogue of Genres<span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="products">
                        <li><a class="fontsize paddingsubmenu" href="#">Detectives</a></li>
                        <li><a class="fontsize paddingsubmenu" href="#">Historical</a></li>
                        <li><a class="fontsize paddingsubmenu" href="#">Thriller</a></li>
                        <li><a class="fontsize paddingsubmenu" href="#">Grief</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>

    <div class="render-body">
        @RenderBody()
    </div>

    @*<div class="navbar  navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-text pull-right">
                    <h3> SoftServe IT Academy 2017</h3>
                </div>
            </div>
        </div>*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>