
@inject SignInManager<User> _SignInManager
@inject UserManager<User> _UserManager

@if (_SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Customer"))
    {
        <li><a asp-controller="Order" asp-action="Order"><span class="glyphicon glyphicon-shopping-cart"></span> My Order <span class="badge item-in-cart">@Context.Request.Cookies["Count"]</span></a></li>
    }
        <a  class="btn btn-link btn-group" asp-controller="Account" asp-action="Profile"><span class="glyphicon glyphicon-user"> @_UserManager.GetUserName(User)</span> </a>
      <button class="btn btn-link btn-group " asp-controller="Account" asp-action="LogOff"/><span class="glyphicon glyphicon-log-out"> LogOut</span>
}
else
{
    <a  class="btn btn-link btn-group" asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
   <a class="btn btn-link btn-group" asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
}