<div>
<h2>BookStore</h2>
<h4>This site is developed in SoftServe IT Academy by Lv-251.Net Team</h4>
<h4>List of developers of the Bookstore:</h4>
<ul>
    <li>Anna Avramenko</li>
    <li>Stepan Hrytsyshyn</li>
    <li>Markiian Spilnyk</li>
    <li>Mykola Kos</li>
    <li>Oleh Medelian</li>
    <li>Vitalii Dosiak</li>
    <li>Kostiantyn Chymak</li>
    <li>Mykola Petrivskyi</li>
    <li>Mykhailo Stepaniak</li>
    <li>Valerii Sarkisov</li>
    <li>Lesia Klakovych</li>
</ul>
    <h4>This is free software and it source code can be found on GITHUB :</h4>
    <a href="https://github.com/ss-itacademy-251/LvivCompany.Bookstore">https://github.com/ss-itacademy-251/LvivCompany.Bookstore</a>
</div>