@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LvivCompany.Bookstore.Web.Views.AboutModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="aboutinfo">
<h2>BookStore</h2>
<h4>This site is developed in Softserve IT-academy by Lv-.Newt </h4>
<h4>List of developers of Bookstore:</h4>
<ul>
    <li>Anna Avramenko</li>
    <li>Stepan Gricishin</li>
    <li>Mark Spilnyk</li>
    <li>Mykhaylo Stepanyak</li>
    <li>Mykola Kos</li>
    <li>Oleh Medelian</li>
    <li>Vitalik Dosiak</li>
    <li>Konstantin Chymak</li>
    <li>Lesia Klakovich</li>
    <li>Mykola Petrivskiy</li>
</ul>
    <h4>This is free software and it sorce code can be found in GITHUB :</h4>
    <a href="https://github.com/ss-itacademy-251/LvivCompany.Bookstore">https://github.com/ss-itacademy-251/LvivCompany.Bookstore</a>
</div>
<div class="aboutinfo">
    <h2>BookStore</h2>
    <h4>This site is developed in Softserve IT-academy by Lv-.Newt </h4>
    <h4>List of developers of Bookstore:</h4>
    <ul>
        <li>Anna Avramenko</li>
        <li>Stepan Gricishin</li>
        <li>Mark Spilnyk</li>
        <li>Mykhaylo Stepanyak</li>
        <li>Mykola Kos</li>
        <li>Oleh Medelian</li>
        <li>Vitalik Dosiak</li>
        <li>Konstantin Chymak</li>
        <li>Lesia Klakovich</li>
        <li>Mykola Petrivskiy</li>
    </ul>
    <h4>This is free software and it sorce code can be found in GITHUB :</h4>
    <a href="https://github.com/ss-itacademy-251/LvivCompany.Bookstore">https://github.com/ss-itacademy-251/LvivCompany.Bookstore</a>
</div>

<div class="aboutinfo">
    <h2>BookStore</h2>
    <h4>This site is developed in Softserve IT-academy by Lv-.Newt </h4>
    <h4>List of developers of Bookstore:</h4>
    <ul>
        <li>Anna Avramenko</li>
        <li>Stepan Gricishin</li>
        <li>Mark Spilnyk</li>
        <li>Mykhaylo Stepanyak</li>
        <li>Mykola Kos</li>
        <li>Oleh Medelian</li>
        <li>Vitalik Dosiak</li>
        <li>Konstantin Chymak</li>
        <li>Lesia Klakovich</li>
        <li>Mykola Petrivskiy</li>
    </ul>
    <h4>This is free software and it sorce code can be found in GITHUB :</h4>
    <a href="https://github.com/ss-itacademy-251/LvivCompany.Bookstore">https://github.com/ss-itacademy-251/LvivCompany.Bookstore</a>
</div>



