<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">
                About Us
            </h1>
            <h3 class="fontsize">This site has been developed in SoftServe IT Academy by Lv-251.Net Team.</h3>
            <h3 class="fontsize">This is a free software and its source code can be found on GITHUB :
            <a href="https://github.com/ss-itacademy-251/LvivCompany.Bookstore">https://github.com/ss-itacademy-251/LvivCompany.Bookstore</a></h3>
        </div>

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle center-block"  width="200" height="200" src="https://lv251bookstore.blob.core.windows.net/images/Ania.jpg">
            <div class="text-center"><h3>Anna Avramenko</h3></div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle center-block" width="200" height="200" src="https://lv251bookstore.blob.core.windows.net/images/0CXRWBI2IJ.jpg">
            <div class="text-center">
                <h3>
                    Stepan Hrytsyshyn
                </h3>
            </div>
            </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle center-block" width="200" height="200" src="https://lv251bookstore.blob.core.windows.net/images/EME7V0Y8OR.jpg">
            <div class="text-center">
                <h3>
                    Markiian Spilnyk
                </h3>
            </div>
            </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle center-block" width="200" height="200" src="https://lv251bookstore.blob.core.windows.net/images/Mykola.jpg">
            <div class="text-center">
                <h3>
                    Mykola Kos
                </h3>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle center-block" width="200" height="200" src="https://lv251bookstore.blob.core.windows.net/images/Oleh.jpg">
            <div class="text-center">
                <h3>
                    Oleh Medelian
                </h3>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle center-block" width="200" height="200" src="https://lv251bookstore.blob.core.windows.net/images/Vitalik.jpg">
            <div class="text-center">
                <h3>
                    Vitalii Dosiak
                </h3>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle center-block" width="200" height="200" src="https://lv251bookstore.blob.core.windows.net/images/NKZRNAWYUL.JPG">
            <div class="text-center">
                <h3>
                    Kostiantyn Chymak
                </h3>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle center-block" width="200" height="200" src="https://lv251bookstore.blob.core.windows.net/images/Mykola2.jpg">
            <div class="text-center">
                <h3>
                    Mykola Petrivskyi
                </h3>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle center-block" width="200" height="200" src="https://lv251bookstore.blob.core.windows.net/images/Misha.png">
            <div class="text-center">
                <h3>
                    Mykhailo Stepaniak
                    (Technical Expert)
                </h3>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle center-block" width="200" height="200" src="https://lv251bookstore.blob.core.windows.net/images/Valera.jpg">
            <div class="text-center">
                <h3>
                    Valerii Sarkisov
                    (Technical Expert)
                </h3>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle center-block" width="200" height="200" src="https://lv251bookstore.blob.core.windows.net/images/Lesia.jpg">
            <div class="text-center">
                <h3>
                    Lesia Klakovych
                    (IT Academy Lecturer)
                </h3>
            </div>
        </div>
    </div>
</div>